In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
benchmark_df = pd.read_csv('srcprof.csv', sep=";")

In [3]:
benchmark_df.head()

   N_MEMB  READ_TSP  BUILD_ALL_EDGES  SORT_EDGES  BUILD_MST  Unnamed: 5
0  1002.0  0.052476         2.217069    1.542765   0.142423         NaN
1   225.0  0.048757         0.104886    0.063392   0.014516         NaN
2    52.0  0.044101         0.008225    0.007617   0.006463         NaN
3   101.0  0.041210         0.024463    0.013672   0.008883         NaN
4   280.0  0.042747         0.166141    0.091116   0.016455         NaN

In [4]:
benchmark_df.set_index(['N_MEMB'], inplace=True)
benchmark_df.dropna(axis=1, inplace=True)

In [5]:
benchmark_df.head()

        READ_TSP  BUILD_ALL_EDGES  SORT_EDGES  BUILD_MST
N_MEMB
1002.0  0.052476         2.217069    1.542765   0.142423
225.0   0.048757         0.104886    0.063392   0.014516
52.0    0.044101         0.008225    0.007617   0.006463
101.0   0.041210         0.024463    0.013672   0.008883
280.0   0.042747         0.166141    0.091116   0.016455