In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
benchmark_df = pd.read_csv('srcprof.csv', sep=";")

In [40]:
benchmark_df.head()

,N_MEMB,READ_TSP,BUILD_ALL_EDGES,SORT_EDGES,BUILD_MST,BUILD_TOUR,Unnamed: 6
0,52.0,0.043072,0.010343,0.007635,0.006079,0.001233,NaN
1,1002.0,0.051912,2.112709,1.509799,0.059487,0.037262,NaN
2,225.0,0.045329,0.103140,0.065625,0.015464,0.003397,NaN
3,101.0,0.043936,0.024496,0.014147,0.009720,0.001808,NaN
4,280.0,0.044878,0.166743,0.096614,0.018615,0.004749,NaN

In [41]:
benchmark_df.set_index(['N_MEMB'], inplace=True)
benchmark_df.dropna(axis=1, inplace=True)

In [42]:
benchmark_df.head()

        READ_TSP  BUILD_ALL_EDGES  SORT_EDGES  BUILD_MST  BUILD_TOUR
N_MEMB
52.0    0.043072         0.010343    0.007635   0.006079    0.001233
1002.0  0.051912         2.112709    1.509799   0.059487    0.037262
225.0   0.045329         0.103140    0.065625   0.015464    0.003397
101.0   0.043936         0.024496    0.014147   0.009720    0.001808
280.0   0.044878         0.166743    0.096614   0.018615    0.004749